@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Tenor+Sans&family=Titillium+Web&family=Tsukimi+Rounded&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Overpass&family=Tenor+Sans&family=Titillium+Web&family=Tsukimi+Rounded&display=swap');

h2, h3 {
    font-family: 'Overpass', sans-serif;
}

h2 {
    margin-top: 50px;
}

a:hover {
    color: #007bff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

th {
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}





.project-body {
    padding: 20px;
    background-color: #edf2f5;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: black;
}

.sidebar {
    display: inline-block;
}

#project-title {
    font-size: 80px;
    color: #0c202b;
    font-family: 'Overpass', sans-serif;
}

