/* Normalize */
@import '../../node_modules/normalize.css/normalize';

/* Vriables */
@import 'variables';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat&display=swap');

/* Internal modules */
@import 'typography';
@import 'footer';

* {
    margin: 0;
}

html {
    background-color: $background-color;
    color: white;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-size: 1.2em;
}

main {
    width: 100%;
}

ul {
    display: flex;
    text-align: right;
    list-style: none;
    gap: 10px;
}

li {
    display: inline;
    padding: 0;
    color: black;
}

ul a {
    text-decoration: none;
}

h1 {
    margin: 20px;
    color: rgb(252, 155, 171);
}

h2 {
    margin: 20px;
    color: blue;
}

h3 {
    color: rgb(252, 203, 211);
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin: 10px;
    line-height: 1.5;
}

hr {
    margin: 20px;
}

img {
    margin: 20px;
}

form {
    margin: 20px;
}

.main {
    width: 100%;
}

.card {
    width: 8px;
    height: 20px;
    background-color: white;
    margin: 5px;

}

.site-header {
    color: $background-color;
    padding: 20px;
}

.site-nav {
    background-color: $header-background-color;
    height: 80px;
    padding-bottom: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.game-img {
    width: 50%;
}

#card-container {
    display: flex;
    flex-direction: row;
}

#card-container1 {
    min-width: 200px;;
}

#card-container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px
}

#cardgame-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0;
    margin: 0;
    padding: 0;
    
    li {
        margin-bottom: 10px;
        padding: 0;
    }
}
