{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block main %}

<h1>Card game</h1>

<ul id="cardgame-list">
    <li><i><a href="{{ path('card') }}">Landing page</a></i></li>
    <li><a href="{{ path('card-deck') }}">Deck</a></li>
    <li><a href="{{ path('card-deck-shuffle') }}">Shuffle</a></li>
</ul>

<form>
    <label>Draw one card: </label>
    <input type="submit" name="draw-many" value="Draw" 
        onClick="this.form.action=`/card/deck/draw`;">
</form>

<form>
    <label>Draw many cards as you wish: </label>
    <input type="number" name="num_cards" min="2" max="52" value="2">
    <input type="submit" name="draw-many" value="Draw" 
        onClick="this.form.action=`/card/deck/draw/${this.form.num_cards.value}`;">
</form>

{% endblock %}
