{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
<main class="main">
    <h1>Home</h1>
    <img src="img/me.jpg" width="500px" alt="me"> 
    <p>This is a website created by Tomoko who is a Japanese living in Stockholm.</p>
    <p>Beside studying programming, she likes to take photos, ride a bicycle, and have a fika.
</main>

{% endblock %}
