{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block main %}

<h1>Introduction</h1>

<h1>PHP metrics</h1>

<h1>Scrutinizer</h1>

<h1>Analysis</h1>

<h1>Improvements</h1>

<h1>Discussion</h1>



{% endblock %}
