{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<main class="main">
    <h1>Report</h1>
    <ul id="report-list">
        <li><a href="#kmom01">01</a></li>
        <li><a href="#kmom02">02</a></li>
        <li><a href="#kmom03">03</a></li>
        <li><a href="#kmom04">04</a></li>
        <li><a href="#kmom05">05</a></li>
        <li><a href="#kmom06">06</a></li>
        <li><a href="#kmom10">10</a></li>
    </ul>


    <h2 id="kmom01">Kmom01</a>
    <h3>Mina förkunskaper och tidigare erfarenheter kring objektorientering</h3>
    Det var på kursen oopython som jag lärde mig om objektorientering för första gången. 
    I början känndes det som att jag skrev koden på ett komplicerat sätt men så småningom kom jag att förstå objektorientering är som jag skapar "blåkopia av bilen". Därefter kan man använda det för att tillverka instanser till exempel Toyoya och Volvo bilar.

    <h3>PHPs modell för klasser och objekt</h3>
    I PHP skapas en objekt urifrån en klass och en klass är en samling av variabler och metoder som behövs gemensamt.
    Genom "extends" kan man skapa en ny klass via arv. Om man titta på report-uppgiften jag skapar en ny klass som heter "ReportController" genom ärver klassen "AbstractController" i filen ReportController.php.

    <h3>Om uppgiften report</h3>
    Jag har skapat kodbas och strukturen genom att följa föreläsningen. 
    Kodstrukturen är i grunden baserad på MVC och vyer beskrivs i filer i templates mappen och controller beskrivs i ReportController-filen i src-mappen.
    För design använde jag SASS. Det gick inte bra att kompilera det till css-fil med npm som vi gjorde i design-kursen, så jag installerade och använde vscodes tillägg, Live Sass Compiler.
    Min TIL med uppgiften var att jag kunde förstå djupare om MVC kodstrukturen som verkade vara mycket mer komplicerad förut vid tidigare kurser. Dessutom kunde jag komma igång med objektorienterad PHP såsom användning av "extends".

    <h3>Om artikeln "PHP The Right Way"</h3>
    Jag tycker att det var intressant att läsa om "Dependency Management". Jag brukade använde composer utan känna till det väl men förstår jag nu bättre om dess roll som beroendehanteraren.
    Dessutom var kapitlet om mallar också bra för att organisera min förståelse. Genom användning av vyer i mvc kan man skriva lättläst kod begränsad till innehållsvisning.

    <h2 id="kmom02">Kmom02</h2>
    <h3></h3>
    

    <h2 id="kmom03">Kmom03</h2>
    Coming soon...

    <h2 id="kmom04">Kmom04</h2>
    Coming soon...

    <h2 id="kmom05">Kmom05</h2>
    Coming soon...

    <h2 id="kmom06">Kmom06</h2>
    Coming soon...

    <h2 id="kmom10">Kmom10</h2>
    Coming soon...

</main>

{% endblock %}
