{% extends "project/base.html.twig" %}

{% block title %}DB{% endblock %}

{% block main %}

<body class="project-main">
    <h2>Database</h2>
    <p>I used database SQLite.</p>
</body>

{% endblock %}